apiVersion: v1
kind: Config
clusters:
  - cluster:
      server: https://pmdevers.kubernetes.na-west-1.omni.siderolabs.io
    name: pmdevers-talos-default
contexts:
  - context:
      cluster: pmdevers-talos-default
      namespace: default
      user: pmdevers-talos-default-pmdevers@gmail.com
    name: pmdevers-talos-default
current-context: pmdevers-talos-default
users:
- name: pmdevers-talos-default-pmdevers@gmail.com
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1beta1
      args:
        - oidc-login
        - get-token
        - --oidc-issuer-url=https://pmdevers.na-west-1.omni.siderolabs.io/oidc
        - --oidc-client-id=native
        - --oidc-extra-scope=cluster:talos-default
      command: kubectl
      env: null
      provideClusterInfo: false
